<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <section class="l-main main">
    <%- body %>
  </section>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after_footer') %>
</body>
</html>
