<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Ronald Suwandi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO - use template to use cdn for prod -->
    <link rel="stylesheet" type="text/css" href="/css/basscss-8.0.1.min.css">
    <link rel="stylesheet" type="text/css" href="/css/basscss-addons.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize-4.1.1.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela|Hind+Siliguri:400,700|Cambay:400,400italic,700italic,700|Work+Sans:400,700|Catamaran:400,700|Stoke' rel='stylesheet' type='text/css'>
</head>

<body>
    <section class="main flex items-center justify-center border-box">
        <div class="p3 max-width-2">
            <img class="circle mx-auto block border border-box" src="/img/favicon.jpg">
            <h1>Ronald Suwandi</h1>
            <p>Self-proclaimed awesome full stack engineer who loves to build high quality products and also a certified barista.</p>
            <p>Currently my interest lies in Machine Learning, Adtech industry, Clojure and Go. I'm also experienced in JavaScript, Java, and various web frameworks such as Ember, Angular, React and Backbone.</p>
            <p>I'm also a father to an adorable son and trying to teach him machine learning.</p>
        </div>
    </section>
    <section class="works md-p3 p2">
        {{#each works}}
        <h1 class="center">{{title}}</h1>
        <div class="works-entry-container flex flex-column max-width-3 mx-auto">
            {{#each list}}
            <div class="entry flex my2">
                <div class="entry-icon flex-none">
                    {{#if icon}}
                    <a class="inline-block" href={{link}} target="_blank"><img class="rounded border-none" src="{{icon}}" alt="{{iconText}}"></a>
                    {{else}}
                    <img src="" style="visibility: hidden;"> {{/if}}
                </div>
                <div class="entry-content ml1 sm-ml2">
                    <div class="entry-content-title-container">
                        <p class="m0 title"><strong>{{title}}</strong></p>
                        <p class="mt0 mb1 subtitle"><a class="inline-block" href={{link}} target="_blank">{{subtitle}}</a></p>
                    </div>
                    <div class="entry-content-period">
                        <small>
                        <em>{{period}}</em>
                        {{#if location}}
                          <span class="entry-content-location"> | {{location}}</span>
                        {{/if}}
                      </small>
                    </div>
                    <div class="entry-content-description">{{{description}}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </section>
    <section class="contact md-p3 p2">
        instagram facebook linkedin twitter goodreads
    </section>
    <script src="/js/velocity-1.2.3.min.js"></script>
    <script src="/js/scrollmagic-2.0.5.min.js"></script>
    <script src="/js/scrollmagic-2.0.5.velocity.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
