<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h3 class="l-archive-title archive-title">
  <i class="l-archive-title-icon fa <% if(page.tag) { %> fa-tag <% } else if (page.category) { %> fa-folder <% } else { %> fa-calendar-o <% } %>"></i> <%= title %>
</h3>

<div class="l-archive archive">
  <% page.posts.each(function(item){ %>
    <article class="<%= item.layout %>">
      <div class="post-content-header">
        <header>
          <% if (item.link){ %>
            <% if (item.title){ %>
              <h3 class="l-article-header-title article-header-title l-article-header-title-link article-header-title-link l-archive-article-header-title"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h3>
            <% } else { %>
              <h3 class="l-article-header-title article-header-title l-article-header-title-link article-header-title-link l-archive-article-header-title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h3>
            <% } %>
          <% } else { %>
            <h3 class="l-article-header-title article-header-title l-archive-article-header-title archive-article-header-title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h3>
          <% } %>
          <div class="l-article-header-time article-header-time l-archive-header-time" datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></div>
        </header>
      </div>
    </article>
  <% }); %>
</div>

<% if (pagination == 2){ %>
  <%- partial('pagination') %>
<% } %>