<header class="l-main-header main-header">
  <div class="l-main-header-inner-width main-header-inner-width">
    <div class="l-main-header-container align-center main-header-container">
      <a href="<%- config.root %>" class="align-center main-header-link l-main-logo-link">
        <% if (theme.logo) %> <img src="<%- theme.logo.url %>" alt="<%- theme.logo.text %>" class="logo l-logo">
      </a>
      <div class="l-main-header-title-container main-header-container align-center">
        <h1 class="l-main-header-title main-header-title uppercase"><a href="<%- config.root %>" class="main-header-link"><%= config.title %></a></h1>
      </div>
    </div>

    <% if (theme.menu) { %>
      <nav class="l-main-nav main-nav align-center">
        <ul>
          <% _.each(theme.menu, function(menu, title) { %>
            <li class="main-nav-item uppercase"><a href="<%- menu %>" class="l-main-nav-link main-nav-link <% if((menu.length > 1 && is_current(menu.slice(1))) || (is_home() && menu === '/')) { %>current<% } %>"><%= title %></a></li>
          <% }); %>
          <% if (theme.side_menu) { %>
            <li class="main-nav-item uppercase">
              <a class="main-nav-link l-main-nav-link l-main-nav-link-menu main-nav-link-menu hidden-mobile hidden-tablet" href="#side-menu" ><i class="fa fa-ellipsis-horizontal"></i></a>
            </li>
          <% } %>
        </ul>
      </nav>

    <% } %>

    <% if (theme.side_menu) { %>
      <a class="main-nav-link l-main-nav-link-menu main-nav-link-menu" href="#side-menu" ><i class="fa fa-reorder hidden-desktop"></i></i></a>

      <%- partial('side_menu') %>
    <% } %>
  </div>
</header>